---
const arrayTexto = ["Libros", "Videojuegos", "Peliculas", "Series"];
const indiceAleatrio = Math.floor(Math.random() * arrayTexto.length);
const pbAleatorio = arrayTexto[indiceAleatrio];

const arrayImagenes = [
	{
		texto: "LIBROS",
		imagen: "https://i.pinimg.com/736x/40/ff/e9/40ffe966a442b3d5712b0178afcc16ad.jpg",
	},
	{
		texto: "VIDEOJUEGOS",
		imagen: "https://i.pinimg.com/736x/84/a0/a0/84a0a065c010b68fe81aadd440ee7c64.jpg",
	},
	{
		texto: "PELICULAS",
		imagen: "https://i.pinimg.com/736x/3c/78/d9/3c78d94682e6acdf4819750061901e12.jpg",
	},
	{
		texto: "SERIES",
		imagen: "https://i.pinimg.com/736x/9f/2c/a3/9f2ca32b08d080d98768b3785b824a5b.jpg",
	},
];

const indiceImagenes = Math.floor(Math.random() * arrayImagenes.length);
const elementoAleatorio = arrayImagenes[indiceImagenes];
---

<div class="ca">
	<p>En este espacio podras organizar tu contenido multimedia</p>
	<button class="empezar"><a href="">EMPEZAR AHORA</a></button>
</div>

<div class="centro">
	<div class="nov-container">
		<img
			class="img1"
			src={elementoAleatorio.imagen}
			alt={elementoAleatorio.texto}
		/>
		<div class="textoNov">
			<p class="novale">
				Descubre las nuevas novedades de:
				<span>{pbAleatorio}</span>
			</p>
			<p class="nov">
				Se acabo tener que tener cincuenta cosas donde registrar nuestro
				contenido multimedia.
			</p>
			<button class="vercalendario"
				><a href="">Ver calendario de novedades</a></button
			>
		</div>
	</div>
</div>

<!-- TODO ESTILOS -->
<style>
	* {
		text-decoration: none;
	}
	.ca {
		text-align: center;
		font-size: 3rem;
		padding: auto;
		margin: auto;
	}
	.empezar {
		background-color: #0b4359;
		/* border-radius: 5%; */
		margin-bottom: 3rem;
	}
	.empezar a {
		color: white;
		font-size: 3rem;
	}

	span {
		font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	}

	.nov {
		font-size: 2rem;
	}
	.novale {
		font-size: 2rem;
		text-align: center;
		/* padding: 30px; */
	}
	.nov-container {
		display: flex;
		justify-content: center;
		gap: 10px;
		align-items: center;
		text-align: center;
		max-width: 900px;
		margin: auto;
		margin-bottom: 2rem;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		margin-bottom: 50p;
		background-color: rgba(241, 241, 241, 0.862);
	}
	img {
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		max-width: 250px;
		height: auto;
		border-radius: 10px;
	}
	button {
		padding-left: 4px;
	}
	.vercalendario {
		background-color: #0b4359;
	}
	.vercalendario a {
		color: white;
		font-size: 2rem;
	}
	.vercalendario a:hover {
		color: #06ADBF;
		font-size: 2rem;
	}
	.empezar a:hover {
		color: black;
	}

	.centro {
		align-items: center;
	}
</style>
