<header>
    <nav>
        <ul>
            <li class="logo"><a href="/">Gestiona tus P.S.L.V</a></li>
            <li>¿Ya tienes cuenta?</li>
            <span class="separador"> | </span><br class="salto-linea" />
            <li><button><a href="/IniciarSesion">Iniciar Sesion</a></button></li>
        </ul>
    </nav>
</header>

<style>
    * {
        list-style: none;
        text-decoration: none;
    }
    nav {
        display: flex;
        /* padding: 1rem 2rem; */
    }

    nav ul {
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: space-between;
    }

    ul li {
        padding: 0px 4.3px;
    }

    .logo a {
        color: #d90da2;
        font-weight: bold;
        padding-right: 59rem;
    }
    .logo a:hover {
        color: #06adbf;
        text-decoration: none;
    }

    a:hover {
        color: #bf303c;
        text-decoration: underline;
    }

    li button {
        background-color: #06adbf;
        border-radius: 30px;
        font-size: 15px;
        color: white;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }

    li button a {
        color: white;
    }
</style>
